<div id="db-wrapper">
  <app-side-bar></app-side-bar>
  <div id="page-content">
    <app-nav-bar></app-nav-bar>
    <div class="container-fluid p-4">
      <!-- CONTENT-->
      <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Découvrir par carte</h1>
          <div class="row">
            <div class="col-xl-6">
              <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">Carte Géo<button class=" m-0 p-2 btn btn-success" (click)="sloveGA()">slove</button></div>
                <div class="card-body" >
                  <div class="map" id="map-container" #mapContainer>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card mb-4">
                <div
                  class="card-header d-flex justify-content-between align-items-center"
                >
                  Route
                  <a routerLink="add" class="btn btn-info btn-sm"
                    >Ajouter un programme</a
                  >
                </div>

                <div class="card-body p-0">
                  <div class="table-responsive border-0 overflow-y-hidden">
                    <table class="table mb-0 text-nowrap">
                      <thead>
                        <tr>
                          <th scope="col" class="border-0 text-uppercase">
                            Serie de véhicule
                          </th>
                          <th scope="col" class="border-0 text-uppercase">
                            Chauffeur
                          </th>
                          <th scope="col" class="border-0 text-uppercase">
                            état
                          </th>
                          <th scope="col" class="border-0 text-uppercase">
                            heure de départ
                          </th>
                          <th scope="col" class="border-0 text-uppercase">
                            Nombre de poubelle
                          </th>
                          <th scope="col" class="border-0 text-uppercase"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let route of routeList
                              | slice : (page - 1) * pageSize : page * pageSize;
                            let i = index
                          "
                        >
                          <td class="align-middle border-top-0">
                            <div class="d-flex align-items-center">
                              <h5 class="mb-0">{{ route.truck.serie }}</h5>
                            </div>
                          </td>
                          <td class="align-middle border-top-0">
                            <div class="d-flex align-items-center">
                              <h5 class="mb-0">{{ route.driver.fullName }}</h5>
                            </div>
                          </td>
                          <td class="align-middle border-top-0">
                            <div class="d-flex align-items-center">
                              <h3>
                                <i
                                  *ngIf="route.state == 'available'"
                                  class="fa-solid fa-circle-check"
                                  style="color: #29b344"
                                ></i>
                                <i
                                  *ngIf="route.state == 'unavailable'"
                                  class="fa-solid fa-circle-minus"
                                  style="color: #ec3636"
                                ></i>
                              </h3>
                            </div>
                          </td>
                          <td class="align-middle border-top-0">
                            <div class="d-flex align-items-center">
                              <h5 class="mb-0">{{ route.hour }}</h5>
                            </div>
                          </td>
                          <td class="align-middle border-top-0">
                            <div class="d-flex align-items-center">
                              <h5 class="mb-0">
                                {{ route.binsNumber || "--" }}
                              </h5>
                            </div>
                          </td>

                          <td class="align-middle border-top-0">
                            <a
                              *ngIf="route.state == 'unavailable'"
                              class="btn btn-success px-4 btn-sm mx-1 activate"
                              (click)="updateRouteStatus(route._id)"
                              >Activer</a
                            >
                            <a
                              *ngIf="route.state == 'available'"
                              class="btn btn-secondary btn-sm mx-1"
                              (click)="updateRouteStatus(route._id)"
                              >Désactiver</a
                            >

                            <a
                              class="btn btn-outline-warning btn-sm mx-1"
                              [routerLink]="['update/', route._id]"
                              ><i class="fa-solid fa-square-pen"></i
                            ></a>
                            <a
                              class="btn btn-outline-danger btn-sm mx-1"
                              [swal]="{
                                text: 'voulez vous vraiment supprimer ce',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'supprimer',
                                confirmButtonColor: 'red'
                              }"
                              ><i class="fa-solid fa-trash"></i
                            ></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
