<nav class="navbar-vertical navbar">
    <div class="nav-scroller">
      <!-- Brand logo -->
      <ul class="navbar-nav flex-column mt-2" id="sideNavbar">
        <!-- Nav item -->
        <li class="nav-item">
          <div class="nav-divider"></div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin/dashboard"
            ><i class="fa-solid fa-table-cells-large mx-2"></i>Tableau de bord</a
          >
          <a
            class="nav-link"
            routerLink="/admin/carte"
            ><i class="fa-solid fa-road mx-2"></i>Découvrir par carte</a
          >
          <a
            class="nav-link"
            routerLink="/admin/admins"
            ><i class="fa-solid fa-user-shield mx-2"></i>Administrateur</a
          >
          <a
            class="nav-link"
            routerLink="/admin/users"
            ><i class="fa-solid fa-users mx-2"></i>Utilisateurs</a
          >
          <a
          class="nav-link"
          routerLink="/admin/drivers"
          ><i class="fa-solid fa-truck mx-2"></i>Chauffeurs</a
        >
          <a
            class="nav-link"
            routerLink="/admin/trucks"
            ><i class="fa-solid fa-recycle mx-2"></i>Véhicules</a
          >
          <a
          class="nav-link"
          ><i class="fa-solid fa-folder-open mx-2"></i>Messages</a
        >
       
        </li>
      </ul>
    </div>
  </nav>
  